################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Divizori/v16/ipch/AutoPCH/5e91bc5c8131f950/DIVIZORI.ipch
